.header{
	position:absolute; 
	background: #333;
	color: #fff;
	top:0px; 
	left:0px; 
	width:100%;
	right:0px;
	overflow:hidden;
}
.footer{
	position:absolute; 
	bottom:0px; 
	background: rgb(51, 51, 51);
	color: rgba(88, 12, 12, 0.247);
	/* height:200px;  */
	left:0px; 
	right:0px; 
	overflow:hidden;
}

.content{
	position:absolute;
    top: 35px;
    bottom: 15px;
    left: 0px;
    right: 0px;
    overflow: auto;
}
form {
	text-align: -webkit-center;
}

.nav a.active {
    background-color: #4CAF50;
    color: red;
  }
  .nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .nav {
    overflow: hidden;
    background-color: #333;
  }

  .nav .icon {
    display: none;
  }
   
   @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
     .nav a:not(:first-child) {
    display: none;
    }
    .nav a.icon {
      float: right;
      display: block;
    }
  }